<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page </title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
</head>
<body>
    
    <form action="/form_login" method="post">
        <h3>Login Here</h3>
        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" name="username">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password">
 
        <button type="submit" name="user_button" value="User In">User Login</button>
        <button type="submit" name="nurse_button" value="Nurse Login">Nurse Login</button>
        <button type="submit" name="volunteer_button" value="Volunteer Login">Volunteer Login</button>
    </form>



</body>
</html>
