body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins',sans-serif;
}
body {
    background-image: url("image_two.jpeg");
    background-size: cover;
    background-position: center;
    background-color: #f16f4b;
}
.menu-bar {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-left {
    display: flex;
    align-items: center;
}
.menu-right {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto; /* Pushes logo box to the left */
}
.menu-bar a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.menu-bar a:hover {
    background-color: lightgray;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: gray;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 15%;
    border-radius: 15px;

}

/**font-family: system-ui, sans-serif;
font-size: 3.5rem;
cursor: pointer;
padding: .1em .6em;
font-weight: bold;  
border: none;**/

/* The popup chat - hidden by default */
.chat-popup {
display: none;
position: fixed;
bottom: 0;
right: 15px;
border: 3px solid #f1f1f1;
z-index: 9;
}


/* Add styles to the form container */
.form-container {
max-width: 300px;
padding: 10px;
background-color: white;
}

/* Full-width textarea */
.form-container textarea {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
resize: none;
min-height: 200px;
max-width: 250px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
background-color: #04AA6D;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}



@keyframes fadeIn {
from { opacity: 0; transform: translate(-50%, -45%); }
to { opacity: 1; transform: translate(-50%, -50%); }
}

.mood-form {
background-color: #f8f9fa; /* Lighter and softer background color */
padding: 30px;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 360px; /* Adjusted width for better layout */
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
border-radius: 12px;
z-index: 10;
font-family: 'Arial', sans-serif;
animation: fadeIn 1s;
}

.score-options {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px; /* Space between sections */
}

.mood-btn {
background-color: #ffffff; /* Default white background */
border: none;
border-radius: 25px; /* More pronounced rounded corners */
padding: 12px 24px;
margin: 6px;
cursor: pointer;
transition: all 0.3s; /* Smooth transition for all changes */
color: #333;
font-weight: bold;
width: 100%; /* Full width for better touch interaction */
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
text-align: center;
}

.mood-btn:hover {
transform: translateY(-3px);
box-shadow: 0 5px 15px rgba(0,0,0,0.3);
color:black;
}

/* Gradient and hover effects */
.mood-btn[data-mood="Very Unpleasant"]:hover { background: linear-gradient(to right, #FFC2C2, #FFDADA); }
.mood-btn[data-mood="Unpleasant"]:hover { background: linear-gradient(to right, #FFD9C2, #FFE9DA); }
.mood-btn[data-mood="Neutral"]:hover { background: linear-gradient(to right, #FFEDC2, #FFFADA); }
.mood-btn[data-mood="Pleasant"]:hover { background: linear-gradient(to right, #E4FFC2, #F1FFDA); }
.mood-btn[data-mood="Very Pleasant"]:hover { background: linear-gradient(to right, #C2FFC2, #DAFFDA); }

.input-field {
width: calc(100% - 20px);
padding: 15px;
margin: 15px 0;
border: 1px solid #ccc;
border-radius: 8px;
display: block; /* Ensure it's always visible if needed */
transition: all 0.3s;
}

.input-field, .submit-btn {
display: none; /* Initially hidden */
}

.input-field.show, .submit-btn.show {
display: block; /* Show only after specific actions */
}


.input-field:focus {
border-color: #80bdff;
outline: none;
box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.submit-btn {
background-color: #E4FFC2;
color: white;
padding: 12px 20px;
border: none;
border-radius: 8px;
cursor: pointer;
width: 100%;
transition: background-color 0.3s, transform 0.2s;
}

.submit-btn:hover {
background-color: #E4FFC2;
transform: translateY(-2px);
}