<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nurse Style</title>
    <link rel="stylesheet" href="nurse-dashboard-style.css">
</head>
<body>
    <h1>Nurse Dashboard</h1>

    <button id="calender-button">My calendar</button>

    <h2>Flagged Users</h2>
        <table class="flagged-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Average Mood</th>
                    <th>Cognitive</th>
                    <th>Physical</th>
                    <th>Risk</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jane Doe</td>
                    <td>2.3</td>
                    <td>5</td>
                    <td>6</td>
                    <td>High</td>
                    <td><a href="#">
                        <button>User Profile</button>
                    </a></td>
                    <td><a href="#">
                        <button>Add To Schedule</button>
                    </a></td>
                </tr>
            </tbody>
        </table>
</body>
</html>